# Terminology Alert
* Rows - Observations/Records/Datapoints
* Columns - Features/Parameters

In [1]:
import pandas as pd

In [2]:
football_stats = pd.read_csv('Euro_2012_stats_TEAM.csv')
football_stats

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

### 2.1 Display first 5 observations of first 5 columns

In [3]:
football_stats.iloc[0:5,0:5]  ## Index Locator

             Team  Goals  Shots on target  Shots off target Shooting Accuracy
0         Croatia      4               13                12             51.9%
1  Czech Republic      4               13                18             41.9%
2         Denmark      4               10                10             50.0%
3         England      5               11                18             50.0%
4          France      3               22                24             37.9%

In [4]:
football_stats.iloc[:5,:5]  ## default index locator is 0

             Team  Goals  Shots on target  Shots off target Shooting Accuracy
0         Croatia      4               13                12             51.9%
1  Czech Republic      4               13                18             41.9%
2         Denmark      4               10                10             50.0%
3         England      5               11                18             50.0%
4          France      3               22                24             37.9%

### 2.2 Display first 5 observations of Team And Shooting Accuracy

In [5]:
football_stats.iloc[:5,[0,4]]

             Team Shooting Accuracy
0         Croatia             51.9%
1  Czech Republic             41.9%
2         Denmark             50.0%
3         England             50.0%
4          France             37.9%

In [6]:
football_stats.loc[:5,['Team','Shooting Accuracy']]

             Team Shooting Accuracy
0         Croatia             51.9%
1  Czech Republic             41.9%
2         Denmark             50.0%
3         England             50.0%
4          France             37.9%
5         Germany             47.8%

In [7]:
football_stats.iloc[[0,3,4],[0,4]]

      Team Shooting Accuracy
0  Croatia             51.9%
3  England             50.0%
4   France             37.9%

### 2.3 Take all observations of Team, Shooting Accuracy, Red Cards and Yellow Cards

In [8]:
football_stats.loc[:,['Team','Shooting Accuracy','Red Cards','Yellow Cards']]

                   Team Shooting Accuracy  Red Cards  Yellow Cards
0               Croatia             51.9%          0             9
1        Czech Republic             41.9%          0             7
2               Denmark             50.0%          0             4
3               England             50.0%          0             5
4                France             37.9%          0             6
5               Germany             47.8%          0             4
6                Greece             30.7%          1             9
7                 Italy             43.0%          0            16
8           Netherlands             25.0%          0             5
9                Poland             39.4%          1             7
10             Portugal             34.3%          0            12
11  Republic of Ireland             36.8%          1             6
12               Russia             22.5%          0             6
13                Spain             55.9%          0            11
14               Sweden             47.2%          0             7
15              Ukraine             21.2%          0             5

In [9]:
# same as above
filtered_data = football_stats[['Team','Shooting Accuracy','Red Cards','Yellow Cards']]
filtered_data

                   Team Shooting Accuracy  Red Cards  Yellow Cards
0               Croatia             51.9%          0             9
1        Czech Republic             41.9%          0             7
2               Denmark             50.0%          0             4
3               England             50.0%          0             5
4                France             37.9%          0             6
5               Germany             47.8%          0             4
6                Greece             30.7%          1             9
7                 Italy             43.0%          0            16
8           Netherlands             25.0%          0             5
9                Poland             39.4%          1             7
10             Portugal             34.3%          0            12
11  Republic of Ireland             36.8%          1             6
12               Russia             22.5%          0             6
13                Spain             55.9%          0            11
14               Sweden             47.2%          0             7
15              Ukraine             21.2%          0             5

### 2.4 Display the team which got more number of Yellow Cards

In [6]:
import warnings
warnings.filterwarnings(action = 'ignore')

In [7]:
filtered_data.sort_values(by= 'Yellow Cards',ascending=False,inplace=True)
filtered_data

                   Team Shooting Accuracy  Red Cards  Yellow Cards
7                 Italy             43.0%          0            16
10             Portugal             34.3%          0            12
13                Spain             55.9%          0            11
0               Croatia             51.9%          0             9
6                Greece             30.7%          1             9
1        Czech Republic             41.9%          0             7
9                Poland             39.4%          1             7
14               Sweden             47.2%          0             7
4                France             37.9%          0             6
11  Republic of Ireland             36.8%          1             6
12               Russia             22.5%          0             6
3               England             50.0%          0             5
8           Netherlands             25.0%          0             5
15              Ukraine             21.2%          0             5
2               Denmark             50.0%          0             4
5               Germany             47.8%          0             4

### 2.5 Display the teams that got Yellow Cards more than 7 and Red Cards 1

In [38]:
## filtered_data[(filtered_data['Yellow Cards'] > 7) & (filtered_data['Red Cards'] == 1)]

In [8]:
filtered_data[(filtered_data['Yellow Cards'] > 7) | (filtered_data['Red Cards'] == 1)]

                   Team Shooting Accuracy  Red Cards  Yellow Cards
7                 Italy             43.0%          0            16
10             Portugal             34.3%          0            12
13                Spain             55.9%          0            11
0               Croatia             51.9%          0             9
6                Greece             30.7%          1             9
9                Poland             39.4%          1             7
11  Republic of Ireland             36.8%          1             6

In [19]:
football_stats

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [20]:
football_stats.query('Goals > 4')

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18

In [10]:
filtered_data

                   Team Shooting Accuracy  Red Cards  Yellow Cards
0               Croatia             51.9%          0             9
1        Czech Republic             41.9%          0             7
2               Denmark             50.0%          0             4
3               England             50.0%          0             5
4                France             37.9%          0             6
5               Germany             47.8%          0             4
6                Greece             30.7%          1             9
7                 Italy             43.0%          0            16
8           Netherlands             25.0%          0             5
9                Poland             39.4%          1             7
10             Portugal             34.3%          0            12
11  Republic of Ireland             36.8%          1             6
12               Russia             22.5%          0             6
13                Spain             55.9%          0            11
14               Sweden             47.2%          0             7
15              Ukraine             21.2%          0             5

In [11]:
filtered_data.columns = [column.replace(" ","_") for column in filtered_data.columns]
filtered_data

                   Team Shooting_Accuracy  Red_Cards  Yellow_Cards
0               Croatia             51.9%          0             9
1        Czech Republic             41.9%          0             7
2               Denmark             50.0%          0             4
3               England             50.0%          0             5
4                France             37.9%          0             6
5               Germany             47.8%          0             4
6                Greece             30.7%          1             9
7                 Italy             43.0%          0            16
8           Netherlands             25.0%          0             5
9                Poland             39.4%          1             7
10             Portugal             34.3%          0            12
11  Republic of Ireland             36.8%          1             6
12               Russia             22.5%          0             6
13                Spain             55.9%          0            11
14               Sweden             47.2%          0             7
15              Ukraine             21.2%          0             5

In [14]:
filtered_data.query('Red_Cards == 0')

              Team Shooting_Accuracy  Red_Cards  Yellow_Cards
0          Croatia             51.9%          0             9
1   Czech Republic             41.9%          0             7
2          Denmark             50.0%          0             4
3          England             50.0%          0             5
4           France             37.9%          0             6
5          Germany             47.8%          0             4
7            Italy             43.0%          0            16
8      Netherlands             25.0%          0             5
10        Portugal             34.3%          0            12
12          Russia             22.5%          0             6
13           Spain             55.9%          0            11
14          Sweden             47.2%          0             7
15         Ukraine             21.2%          0             5

In [64]:
info = { "Name" : ['Pooja','Vrushali'],
      "Age" : [28,29]
    }

df = pd.DataFrame(info)
print(df)

       Name  Age
0     Pooja   28
1  Vrushali   29

In [65]:
df.query('Age < 30')

       Name  Age
0     Pooja   28
1  Vrushali   29